.backdrop-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(10, 10, 10, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    flex-direction: column;
    gap: 10px;
    z-index: 102;
}

.backdrop-content{
    background-color: whitesmoke;
    height: 10%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
